.video-iframe-holder {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

@media (max-width: 718px) {
    .video-iframe-holder.transcriptenabled {
        padding-bottom: 116.25%;
    }
}

.video-iframe-holder > iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}

.is-hidden {
    display: none !important;
}

.wrapper-comp-settings .file-uploader .xblock-edit-settings .upload-setting,
.wrapper-comp-settings .file-uploader .xblock-edit-settings .download-setting {
    width: 47%;
}

.upload-success {
    position: absolute;
}

.wrapper-downloads-custom {
    margin: 0;
    padding: 0 !important;
}

.video-download-button-custom {
    display: inline-block;
    vertical-align: top;
    margin: 10px;
}

.video-download-button-custom a {
    transition: all 0.25s ease-in-out 0s;
    font-size: 14px;
    line-height: 14px;
    padding: 15px;
}

/* Transcripts download dropdown buttons */
.dropdown {
    display: inline-block;
    position: relative;
    bottom: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    bottom: 0;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1;
    width: 180px;
    min-width: 180px;
    overflow: visible;
    background: #fff;
}

.dropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    text-decoration: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}
